/* abstracts */
@use './sass/abstracts/variables';
@use './sass/abstracts/mixins';

/* base */
@use './sass/base/base';
@use './sass/base/resets';
@import './sass/abstracts/variables';

/* Navegación*/

.container_nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.forms {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 45rem;
    background-color: $color-blue;
    clip-path: ellipse(75% 60% at 10% 30%);
    z-index: 1;
}

.forms_2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 30vh;
    color: $color-orange;
    z-index: 1;
}

.nav {
    position: relative;
    z-index: 2;
    display: flex;
    width: 80%;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}

.nav_hamilton {
    font-weight: $font-inter-bold;
    color: $color-white;
}

.nav_a {
    font-weight: $font-inter-bold;
    margin: 0;
    padding: 0;
}
.nav_a_white {
    font-weight: $font-inter-bold;
    color: $color-white;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    
}

@media screen and (max-width: 575px) and (min-width: 320px) {
    
}
